# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# IntelliJ IDEA files
../../../../../../ProjetoWEG_ONE3/.idea/
*.iml
*.iws
out/
gen/

# Build directories
build/
target/

# Maven
log/
dependency-reduced-pom.xml
release.properties

# Gradle
.gradle/
build/

# Eclipse (caso use em paralelo)
.project
.classpath
.c9/
.settings/
bin/

# OS files
.DS_Store
Thumbs.db
